<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" color="light" fullscreen="true">
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let image of imagens" [ngStyle]="{'background-color': '#000'}">
      <!--<img class="image-container" [src]="'assets/' + image.url + ''" />-->
      <img class="image-container" [src]="'assets/' + image.url + ''" />
      <!--<div class="image-container" [style.background-image]="'url(assets/' + image.url + ')'"></div>-->
    </ion-slide>
  </ion-slides>
</ion-content>
