<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{vHeader}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Esse app tem a intenção de ajudar na leitura em português das cartas do jogo de tabuleiro Battlestar Galactica, versão original (sem expansão).</p>
  <h2>Escolha um tipo de carta:</h2>
  <ion-list>
    <ion-item *ngFor="let m of vArrMenu" [routerLink]="'/detalhes/' + m.path" routerDirection="forward">
      <ion-icon slot="start" src="assets/arrow_right_alt.svg"></ion-icon>
      <ion-label>
        {{m.nome}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
